.choose-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1773px;
  width: 100%;
  min-height: 685px;
  background-image: url(../images/why-choose-us-bg.png);
  background-size: cover;
  background-position: center;

  & .choose-text-box {
    display: flex;
    flex-direction: column;
    max-width: 560px;
    width: 100%;
    min-height: 158px;
    padding: 8px;

    & h2 {
      color: #fff;
      font-family: "Aleo", serif;
      font-size: 36px;
      line-height: 26px;
    }

    & p {
      color: #fff;
      font-family: "Josefin Sans", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 1.6px;
    }

    & button {
      width: 228px;
      height: 63px;
      background-color: #5474fd;
      color: #fff;
      font-family: "Aleo", serif;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 1.2px;
      padding: 20px;
      border: 1px solid #5474fd;
      cursor: pointer;

      &:hover {
        background-color: grey;
        text-decoration: underline;
      }
    }
  }
}

.image-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  width: 100%;
  padding: 50px;
  margin-right: 50px;

  & .first-image {
    width: 100%;
    position: relative;
    right: 15px;
  }

  & .second-image {
    width: 100%;
    position: relative;
    left: 50px;
  }
}

.how-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1773px;
  width: 100%;
  min-height: 137px;
  background-color: #333;

  & .how-image {
    width: 100%;
    margin-top: -5px;
  }
}
