.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/header-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1773px;
  width: 100%;
  min-height: 100vh;

  & .header-title-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10px;
    flex-direction: column;
    max-width: 372px;
    width: 100%;
    min-height: 76px;
    margin: auto;
    margin-top: 100px;

    & h1 {
      display: flex;
      color: #fff;
      font-family: "Josefin Sans", sans-serif;
      font-size: 45px;
      font-weight: bold;
      line-height: 26px;
      letter-spacing: 1px;
      margin-top: 100px;
      margin-bottom: -15px;
      text-align: center;
    }

    & h2 {
      display: flex;
      color: #fff;
      font-family: "Josefin Sans", sans-serif;
      font-size: 22px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 6.82px;
      text-align: center;
    }
  }
}

.form {
  display: flex;
  justify-content: center;
  position: relative;
  max-width: 550px;
  width: 100%;
  min-height: 63px;
  margin: auto;
  margin-bottom: 80px;

  & .searchbar-text {
    display: flex;
    outline: none;
    max-width: 500px;
    width: 100%;
    height: 61px;
    color: #999999;
    font-family: "Josefin Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2.8px;
    text-align: center;
    border: none;
  }

  & .search-btn {
    background-color: #5474fd;
    width: 180px;
    height: 63px;
    color: #fff;
    font-family: "Aleo", serif;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 1.4px;
    text-align: center;
    border: 2px solid #fff;
  }
}

.search-btn:hover {
  cursor: pointer;
  background-color: rgb(102, 71, 223);

  &.search-btn:focus {
    background-color: aquamarine;
  }
}

.scroll-nav {
  position: relative;
  right: 50px;
  display: flex;
  width: 128px;
  height: 46px;
  margin: 0 auto;

  & ul {
    list-style: none;
    margin-bottom: 100px;
  }

  & a {
    display: flex;
    flex-direction: column;
    width: 123px;
    height: 26px;
    text-decoration: none;
    color: #fff;
    font-family: "Josefin Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2.8px;
    text-align: center;

    &:hover {
      transform: scaleX(1.1);
    }

    &:focus {
      color: aqua;
    }
  }

  & span {
    display: flex;
    align-self: center;
  }
}

.main-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1770px;
  width: 100%;
  min-height: 80px;
  background-color: #5474fd;
  margin-top: 100px;

  & h2 {
    display: flex;
    text-align: center;
    align-items: center;
    color: #fff;
    font-family: "Josefin Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 2.4px;
    margin-left: 10px;

    &:hover {
      cursor: pointer;
      color: aquamarine;
    }
  }

  & ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    max-width: 525px;
    min-height: 12px;
    width: 100%;
    text-align: right;
    margin-right: 50px;
    margin-left: 50px;
  }

  & a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-family: "Aleo", serif;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0px;

    &:focus {
      color: aqua;
    }

    &:hover {
      color: aquamarine;
    }
  }

  & a.icon {
    display: none;
  }
}

.icon-li {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 600px) {
  .main-nav li:not(:last-child) {
    display: none;
  }
  .main-nav a.icon {
    display: flex;
    position: relative;
    bottom: 60px;
    left: 25px;
  }
  .form {
    width: 98%;
    flex-wrap: wrap;

    & .search-btn {
      margin-top: 20px;
    }
  }
  .scroll-container {
    margin-left: 12px;
  }
}

@media screen and (max-width: 600px) {
  .main-nav.responsive ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .main-nav.responsive li {
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
  }
}
