.travel-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  max-width: 1773px;
  width: 100%;
  min-height: 700px;
  background-image: url(../images/house-pool-bg.png);
  background-size: cover;
  background-position: center;
}

.card-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-right: 50px;
  margin-left: 10px;
  padding-left: 25px;
  flex-direction: column;
  background-color: rgba(35, 35, 35, 0.9);
  max-width: 540px;
  width: 100%;
  min-height: 371px;

  & h3 {
    color: #fff;
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1.5px;
  }

  & h2 {
    color: #fff;
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
  }

  & p {
    color: #fff;
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
  }

  & .book-btn {
    max-width: 228px;
    width: 100%;
    min-height: 63px;
    background-color: #5474fd;
    cursor: pointer;
    color: #fff;
    font-family: "Aleo", serif;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1.2px;
    text-align: center;
    border: 2px solid #000;

    &:hover {
      color: #000;
      background-color: #fff;
    }

    &:focus {
      background-color: coral;
      color: #fff;
    }
  }
}

.emty {
  display: none;
}

.travel-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1773px;
  width: 100%;
  min-height: 700px;
  background-image: url(../images/ocean-rocks-bg.png);
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 600px) {
  .card-container {
    margin: auto;
    width: 80%;
    padding: 10px;
  }
}
