.travel-top {
  display: flex;
  justify-content: center;
  max-width: 1773px;
  width: 100%;
  min-height: 100vh;
  background-image: url(../images/house-pool-bg.png);
  background-size: cover;
  background-position: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  background-color: #232323;
  max-width: 540px;
  width: 100%;
  min-height: 371px;
}
.card-container .book-btn {
  width: 228px;
  height: 63px;
}