@use "header";
@use "choose";
@use "travel";
@use "testimonial";
@use "footer";

@import url("https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

html {
  padding: 1rem;
  overflow-x: hidden;
}

body {
  max-width: 1773px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #fff;
  overflow-x: hidden;
  flex-wrap: wrap;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
