@import url("https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

body {
  max-width: 1800px;
  width: 100%;
  min-height: 100vh;
  margin: auto;
}

header {
  display: flex;
  flex-direction: column;
  background-image: url(../images/header-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1773px;
  width: 100%;
  // min-height: 821px;
  min-height: 100vh;

  & .header-title-box {
    display: flex;
    flex-direction: column;
    max-width: 372px;
    width: 100%;
    min-height: 76px;
    margin: auto;

    & h1 {
      color: #fff;
      font-family: "Josefin Sans", sans-serif;
      font-size: 48px;
      font-weight: bold;
      line-height: 26px;
      letter-spacing: 4.8px;
      text-align: center;
      margin: auto;
    }

    & p {
      color: #fff;
      font-family: "Josefin Sans", sans-serif;
      font-size: 22px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 6.82px;
      text-align: center;
      margin: auto;
    }
  }
}

.form-conteiner {
  display: flex;
  justify-content: center;
  max-width: 653px;
  width: 100%;
  min-height: 63px;
  margin: auto;

  & input {
    max-width: 500px;
    width: 100%;
    min-height: 60px;
    color: #999999;
    font-family: "Josefin Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2.8px;
    text-align: center;
    border: none;
  }

  & button {
    background-color: #5474fd;

    width: 150px;
    height: 63px;
    color: #fff;
    font-family: "Aleo", serif;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 1.4px;
    text-align: center;
    margin: auto;
    border: none;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
  }
}

.scroll-nav {
  display: flex;
  width: 108px;
  height: 46px;
  margin: auto;

  & ul {
    list-style: none;
  }

  & a {
    display: flex;
    flex-direction: column;
    width: 123px;
    height: 26px;
    text-decoration: none;
    color: #fff;
    font-family: "Josefin Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2.8px;
    text-align: center;
  }

  & span {
    display: flex;
    align-self: center;
  }
}
